* {
    box-sizing: border-box;
    margin: 0;
    transition: all 0.5s ease-in;
}
body {
    text-align: center;
}
#logo {
    padding-top: 200px;
}
#block1 {
    background-image: url("../img/backgrounds/h_img.jpg"); 
    background-size: cover;
    background-attachment:fixed;
    color: #fff;
    padding: 50px;
    height: 97vh;
    margin-bottom: 0;
}
#block2 {
    font-size: 20px;
    background-image: url('../img/backgrounds/s_image.jpg');
    color: white;
    margin-top: 5%;
    padding: 20px;
}
.what0,.what1,.what2 {
    display: none;
}
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background: white;
    opacity: 0.55;
    font-weight: bolder;
  }
#block4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%; 
    padding: 20px;
 }
 #block5 {
    font-size: 20px;
    background-image: url('../img/backgrounds/c_image.jpg');
    color: white;
    padding: 40px 5px;
    margin-top: 5%;
    max-width: 97vw;
}
form{
    width: 700px;
    max-width: 90%;
  }
  ::placeholder{
    color: rgb(204, 204, 204);
  }
  form input{
    width:49%;
  }
  form input, form textarea{
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 7px;
  }
  form textarea{
    margin-top: 20px;
    width: 98.8%;
  }